@model BookFormViewModel

@{
    ViewData["Title"] = "Book Form";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            @(Model.Id.Equals(0) ? "Add" : "Edit") Books
        </h3>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Books" enctype="multipart/form-data" id="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid" placeholder="Title" asp-for="Title" />
                                    <label asp-for="Title"></label>
                                </div>
                                <span asp-validation-for="Title" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.Id > 0)
                    {
                        <input type="hidden" asp-for="Id" />
                    }
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating">
                                    <select class="form-select form-select-solid js-select" asp-for="AuthorId" asp-items="@Model.Authors" data-placeholder="select an Author">
                                        <option value="" selected>Select...</option>
                                    </select>
                                    <label asp-for="AuthorId"></label>
                                    <span for="AuthorId" class="text-danger d-block"></span>
                                    <span asp-validation-for="AuthorId" class="text-danger d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating">
                                    <select multiple class="form-select form-select-solid h-100 js-select" size="4" asp-for="SelectedCategories" asp-items="@Model.Categories" data-placeholder="select Categories">
                                    </select>
                                    <label asp-for="SelectedCategories"></label>
                                    <span for="SelectedCategories" class="text-danger d-block"></span>
                                    <span asp-validation-for="SelectedCategories" class="text-danger d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid" placeholder="Publisher" asp-for="Publisher" />
                                    <label asp-for="Publisher"></label>
                                    <span asp-validation-for="Publisher" class="text-danger d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid js-datepicker" placeholder="PublishingDate" asp-for="PublishingDate" />
                                    <label asp-for="PublishingDate"></label>
                                </div>
                                <span asp-validation-for="PublishingDate" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    @*  <div class="row">
                    <div class="col-md-10">
                    <div class="mb-5">
                    <img id="imagePreview" src="~/images/books/@(Model.ImageUrl is null ? "no-img.png" : Model.ImageUrl)" class="img-thumbnail">
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-10">
                    <div class="mb-5">
                    <div class="form-floating mb-2">
                    <input type="file" class="form-control form-control-solid" placeholder="Image" asp-for="Image" accept=".jpg,.jpeg,.png"
                    onchange="document.getElementById('imagePreview').src = window.URL.createObjectURL(this.files[0])" />
                    <label asp-for="Image"></label>
                    </div>
                    <span asp-validation-for="Image" class="text-danger d-block"></span>
                    </div>
                    </div>
                    </div> *@
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control form-control-solid" placeholder="Hall" asp-for="Hall" />
                                    <label asp-for="Hall"></label>
                                </div>
                                <span asp-validation-for="Hall" class="text-danger d-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-check form-switch form-check-solid form-check-custom">
                                    <input class="form-check-input" type="checkbox" role="switch" asp-for="IsAvailableForRent">
                                    <label class="form-check-label col-form-label-lg" asp-for="IsAvailableForRent"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-5">
                                <div class="form-floating">
                                    <textarea class="form-control form-control-solid" placeholder="Description" asp-for="Description" style="height: 77px;"></textarea>
                                    <label asp-for="Description"></label>
                                    <span asp-validation-for="Description" class="text-danger d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col image-input image-input-empty mb-10" data-kt-image-input="true" style="background-image:url(@(string.IsNullOrEmpty(Model.ImageUrl) ? "/Images/Books/no-img.png" : Model.ImageThumbUrl))">
                        <div class="image-input-wrapper w-500px h-550px"></div>
                        <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                               data-kt-image-input-action="change"
                               data-bs-dismiss="click">
                            <span class="svg-icon svg-icon-muted svg-icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor" />
                                    <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor" />
                                </svg>
                            </span><span class="path1"></span><span class="path2"></span>
                            <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                        </label>
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="cancel"
                              data-bs-dismiss="click">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                            </svg>
                        </span>
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="remove"
                              data-bs-dismiss="click">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <span asp-validation-for="Image" class="text-danger d-block"></span>
                </div>
            </div>           
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary js-submit-btn mr-50px" form="form">
            <span class="indicator-label">
                <i class="bi bi-check2"></i>
                Save
            </span>
            <span class="indicator-progress">
                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
        <a class="btn btn-light text-primary ms-3" asp-action="Index">Cancel</a>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}