@model string

@{
    ViewData["Title"] = "Not Allowed Rental";
}

<div class="d-flex flex-column text-center align-items-center">
    <img src="~/assets/images/stopimg.jpg" class="mw-200px" />
    <h1 class=" badge-danger text-white w-50 rounded p-4">@Model</h1>
</div>
